# Supabase Configuration
# URL dan Anon Key project Supabase Aktif
VITE_SUPABASE_URL=https://wunwvwxokxxmlvyfscdj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1bnd2d3hva3h4bWx2eWZzY2RqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA1MDQwMjYsImV4cCI6MjEwNjA4MDAyNn0.YD53sgd_l48rK_2qnXGGC34FHczQCyP0XN53ARM5lCs
